.jumbotrom {
	color: black;
	background-color: yellow;
	margin-top: 56px;
	padding: 10px ;
	
}

.centrar {
	padding: 25px 25px 25px 25px;

}

footer {
	padding: 10px  10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;

}

.margin {
	padding: 10px  10px 30px 10px;
}



.card-hotel{
	flex: 1 150px;
	padding: 2px 2px 2px 5px;
	margin-top: 50px;
}

.btn-reserva{
	width: 100%;


}

.card-hotel .card{
	min-height: 100px;
}

.footer-addres-icon{
	padding-right: 10px;
	
}

.tab-content {
	padding-top: 10px;
}

