
.centrar {
  padding: 25px 25px 25px 25px; }

footer {
  padding: 10px  10px 0 10px;
  background-color: #ffffff;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.margin {
  padding: 10px  10px 30px 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 2px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.card-hotel .card {
  min-height: 100px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }


.carousel-caption {
    text-align: left;
    max-width: 40%;
    left: 3%;
    padding:5px;
    padding-bottom: 5%;
    text-shadow: 1px 1px 20px black;
  }

.carrusel-principal {
  margin-top: 40px;
}

.card-servicios {
  border-style: none;
  text-shadow: 1px 1px 5px black;
}

.bg-contactanos {
  background-color: #FFFFFF
}

.unborder {
  border-radius: 50;
  border:0;
  rounded-top: 50;
}

.text-footer {
  color:  #909090;
}

.bg-footer {
  background-color: #343a40;
}

.text-footer a{
  color:  #909090;

}

.text-footer a:hover {
  font-weight: 600;
}