@yellow: #ffe414;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
  }

.jumbotrom {
  color: black;
  background-color: @yellow;
  .margenes(50px, 0px);
  }

.centrar {
  padding: 25px 25px 25px 25px; 
  }

footer {
  padding: 10px  10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  }

.margin {
  padding: 10px  10px 30px 10px; 
  }

.card-hotel {
  flex: 1 150px;
  padding: 2px 2px 2px 5px;
  .margenes(10px, 0px); 
  }

.btn-reserva {
  width: 100%; 
  }

.card-hotel .card {
  min-height: 100px; 
  }

.footer-addres-icon {
  padding-right: 10px; 
  }

.tab-content {
  padding-top: 10px; 
  }